In [6]:
import pandas as pd
import pyreadstat

df, meta = pyreadstat.read_sav("FarmingHouseholds_ano.sav")
df.head()

,HHID,state_code,lga_code,ea_code,zone_id,sector,hh_sex,hh_age,hh_school_attd,hh_edu_level,...,agri_estab_kind__3,non_agri_estab,non_agri_estab_kind__1,non_agri_estab_kind__2,non_agri_estab_kind__3,non_agri_estab_kind__4,non_agri_estab_kind__5,non_agri_estab_kind__6,non_agri_estab_kind__999,nasc_listing_weight
0,0676419,31.0,NaN,0038900,4.0,1.0,2.0,4.0,1.0,2.0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.689434
1,0200985,31.0,639.0,0038900,4.0,1.0,1.0,4.0,1.0,4.0,...,NaN,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,48.689434
2,0322518,31.0,639.0,0038900,4.0,1.0,1.0,5.0,1.0,5.0,...,NaN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,48.689434
3,0037878,31.0,639.0,0038900,4.0,1.0,2.0,6.0,1.0,4.0,...,NaN,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,48.689434
4,0448913,31.0,639.0,0038900,4.0,1.0,1.0,5.0,1.0,4.0,...,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,48.689434

In [2]:
pip install pyreadstat

Collecting pyreadstat
  Downloading pyreadstat-1.2.8-cp312-cp312-win_amd64.whl.metadata (1.1 kB)
Requirement already satisfied: pandas>=1.2.0 in c:\users\homepc\anaconda3\lib\site-packages (from pyreadstat) (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\homepc\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\homepc\appdata\roaming\python\python312\site-packages (from pandas>=1.2.0->pyreadstat) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\homepc\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\homepc\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\homepc\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)
Downloading pyreadstat-1.2.8-cp312-cp312-win_amd64.whl (2.4 MB)
   ---------------------------------------- 0.0/2.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.4 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.4 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.4 MB ? eta -:--:--
   -------- ------------------------------- 0.5/2.4 MB 541.6 kB/s eta 0:00:04
   -------- ------------------------------- 0.5/2.4 MB 541.6 kB/s eta 0:00:04
   ------------- -------------------------- 0.8/2.4 MB 578.7 kB/s eta 0:00:03
   ------------- -------------------------- 0.8/2.4 MB 578.7 kB/s eta 0:00:03
   ----------------- ---------------------- 1.0/2.4 MB 592.2 kB/s eta 0:00:03
   ----------------- ---------------------- 1.0/2.4 MB 592.2 kB/s eta 0:00:03
   --------------------- ------------------ 1.3/2.4 MB 633.2 kB/s eta 0:00:02
   -------------------------- ------------- 1.6/2.4 MB 645.4 kB/s eta 0:00:02
   -------------------------- ------------- 1.6/2.4 MB 645.4 kB/s eta 0:00:02
   -------------------------- ------------- 1.6/2.4 MB 645.4 kB/s eta 0:00:02
   ------------------------------ --------- 1.8/2.4 MB 633.2 kB/s eta 0:00:01
   ---------------------------------- ----- 2.1/2.4 MB 648.9 kB/s eta 0:00:01
   ---------------------------------- ----- 2.1/2.4 MB 648.9 kB/s eta 0:00:01
   ---------------------------------------- 2.4/2.4 MB 655.0 kB/s eta 0:00:00
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.2.8
Note: you may need to restart the kernel to use updated packages.

In [13]:
df.columns

Index(['HHID', 'state_code', 'lga_code', 'ea_code', 'zone_id', 'sector',
       'hh_sex', 'hh_age', 'hh_school_attd', 'hh_edu_level',
       ...
       'agri_estab_kind__3', 'non_agri_estab', 'non_agri_estab_kind__1',
       'non_agri_estab_kind__2', 'non_agri_estab_kind__3',
       'non_agri_estab_kind__4', 'non_agri_estab_kind__5',
       'non_agri_estab_kind__6', 'non_agri_estab_kind__999',
       'nasc_listing_weight'],
      dtype='object', length=137)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002380 entries, 0 to 1002379
Columns: 137 entries, HHID to nasc_listing_weight
dtypes: float64(134), object(3)
memory usage: 1.0+ GB

In [8]:
df.columns.tolist()

['HHID',
 'state_code',
 'lga_code',
 'ea_code',
 'zone_id',
 'sector',
 'hh_sex',
 'hh_age',
 'hh_school_attd',
 'hh_edu_level',
 'hh_trg',
 'hh_trg_type__1',
 'hh_trg_type__2',
 'hh_ag_activity__Crop',
 'hh_ag_activity__Livestock',
 'hh_ag_activity__Poultry',
 'hh_ag_activity__Fisheries',
 'hh_ag_activity__Forestry',
 'hh_plots_number',
 'hh_cereals__MAIZE',
 'hh_cereals__RICE',
 'hh_cereals__MILLET',
 'hh_cereals__GUINEA_CORN',
 'hh_cereals__ACHA',
 'hh_cereals__WHEAT',
 'hh_cereals__NONE',
 'hh_tubers__CASSAVA',
 'hh_tubers__YAM',
 'hh_tubers__COCOYAM',
 'hh_tubers__SWEET_POTATO',
 'hh_tubers__IRISH_POTATO',
 'hh_tubers__NONE',
 'hh_legumes__BEANS_COWPEA',
 'hh_legumes__BAMBARA_NUT',
 'hh_legumes__PIGEON_PEAS',
 'hh_legumes__NONE',
 'hh_vegetables__ONION',
 'hh_vegetables__OKRO',
 'hh_vegetables__TOMATOES',
 'hh_vegetables__CARROT',
 'hh_vegetables__GARLIC',
 'hh_vegetables__GREEN_LEAF',
 'hh_vegetables__MELON',
 'hh_vegetables__PUMPKIN',
 'hh_vegetables__LETTUCE',
 'hh_vegetables__GARDEN_EGGS',
 'hh_vegetables__CUCUMBER',
 'hh_vegetables__CABBAGE',
 'hh_vegetables__BELL_PEPPER',
 'hh_vegetables__NONE',
 'hh_oil_seeds__GNUTS',
 'hh_oil_seeds__SUGAR_CANE',
 'hh_oil_seeds__TOBACCO',
 'hh_oil_seeds__COTTON',
 'hh_oil_seeds__OIL_PALM',
 'hh_oil_seeds__JUTE',
 'hh_oil_seeds__SESAME',
 'hh_oil_seeds__SOYA_BEANS',
 'hh_oil_seeds__COCONUT',
 'hh_oil_seeds__SHEA_NUT',
 'hh_oil_seeds__OIL_BEAN',
 'hh_oil_seeds__RUBBER',
 'hh_oil_seeds__NONE',
 'hh_fruits_nuts__ORANGES',
 'hh_fruits_nuts__LEMON',
 'hh_fruits_nuts__GRAPEFRUIT',
 'hh_fruits_nuts__TANGERINE',
 'hh_fruits_nuts__AVOCADO',
 'hh_fruits_nuts__GUAVA',
 'hh_fruits_nuts__BANANA',
 'hh_fruits_nuts__MANGO',
 'hh_fruits_nuts__PAWPAW',
 'hh_fruits_nuts__PINEAPPLE',
 'hh_fruits_nuts__PLANTAIN',
 'hh_fruits_nuts__DATE_PALM',
 'hh_fruits_nuts__PEAR',
 'hh_fruits_nuts__CHERRY',
 'hh_fruits_nuts__CASHEW',
 'hh_fruits_nuts__WALNUT',
 'hh_fruits_nuts__WATER_MELON',
 'hh_fruits_nuts__NONE',
 'hh_stimulant_crops__COCOA',
 'hh_stimulant_crops__KOLANUT',
 'hh_stimulant_crops__COFFEE',
 'hh_stimulant_crops__TEA',
 'hh_stimulant_crops__ALLIGATOR',
 'hh_stimulant_crops__NONE',
 'hh_other_crops__SMALL_PEPPER',
 'hh_other_crops__CHILI_PEPPER',
 'hh_other_crops__BITTER_KOLA',
 'hh_other_crops__GINGER',
 'hh_other_crops__LOCUST_BEANS',
 'hh_other_crops__GUM_ARABIC',
 'hh_other_crops__OTHERS',
 'hh_other_crops__NONE',
 'hh_livestock_list__CATTLE',
 'hh_livestock_list__GOAT',
 'hh_livestock_list__SHEEP',
 'hh_livestock_list__PIG',
 'hh_livestock_list__HORSE',
 'hh_livestock_list__DONKEY',
 'hh_livestock_list__CAMEL',
 'hh_livestock_list__OTHER',
 'hh_tot_number__CATTLE',
 'hh_tot_number__GOAT',
 'hh_tot_number__SHEEP',
 'hh_tot_number__PIG',
 'hh_tot_number__HORSE',
 'hh_tot_number__DONKEY',
 'hh_tot_number__CAMEL',
 'hh_tot_number__OTHER_LIVE',
 'hh_poultry_list__CHICKEN',
 'hh_poultry_list__DUCK',
 'hh_poultry_list__GUINEA_FOWL',
 'hh_poultry_list__TURKEY',
 'hh_poultry_list__OTHER',
 'hh_tot_number__CHICKEN',
 'hh_tot_number__DUCK',
 'hh_tot_number__GUINEA_FOWL',
 'hh_tot_number__TURKEY',
 'hh_tot_number__OTHER_POUL',
 'hh_fisheries_list__FISH_HUNTING',
 'hh_fisheries_list__FISH_FARMING',
 'hh_fisheries_list__OTHER',
 'agri_estab',
 'agri_estab_kind__1',
 'agri_estab_kind__2',
 'agri_estab_kind__3',
 'non_agri_estab',
 'non_agri_estab_kind__1',
 'non_agri_estab_kind__2',
 'non_agri_estab_kind__3',
 'non_agri_estab_kind__4',
 'non_agri_estab_kind__5',
 'non_agri_estab_kind__6',
 'non_agri_estab_kind__999',
 'nasc_listing_weight']

In [9]:
df.to_csv("FarmingHouseholds_ano.csv", index=False)

In [10]:
df = pd.read_csv("FarmingHouseholds_ano.csv")

# Sample 30% of each state group
df_sampled = (
    df.groupby('state_code', group_keys=False)
    .apply(lambda x: x.sample(frac=0.3, random_state=42))
)

df_sampled.to_csv("FarmingHouseholds_30percent_sampled.csv", index=False)

C:\Users\HomePC\AppData\Local\Temp\ipykernel_7896\3683380409.py:2: DtypeWarning: Columns (107) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("FarmingHouseholds_ano.csv")
C:\Users\HomePC\AppData\Local\Temp\ipykernel_7896\3683380409.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x.sample(frac=0.3, random_state=42))

In [11]:
columns_to_keep = {
    'HHID': 'household_id',
    'state_code': 'state',
    'lga_code': 'lga',
    'hh_sex': 'hh_head_sex',
    'hh_age': 'hh_head_age',
    'hh_school_attd': 'school_attendance',
    'hh_edu_level': 'education_level',
    'hh_ag_activity__Crop': 'activity_crop',
    'hh_ag_activity__Livestock': 'activity_livestock',
    'hh_ag_activity__Poultry': 'activity_poultry',
    'hh_ag_activity__Fisheries': 'activity_fisheries',
    'hh_plots_number': 'num_plots',
    'hh_cereals__MAIZE': 'grow_maize',
    'hh_cereals__RICE': 'grow_rice',
    'hh_legumes__BEANS_COWPEA': 'grow_beans',
    'hh_tot_number__CATTLE': 'num_cattle',
    'hh_tot_number__GOAT': 'num_goat',
    'hh_tot_number__CHICKEN': 'num_chicken',
    'hh_fisheries_list__FISH_FARMING': 'fish_farming',
    'agri_estab': 'has_agri_establishment',
    'non_agri_estab': 'has_nonagri_establishment',
    'nasc_listing_weight': 'weight'
}

In [12]:
df_filtered = df_sampled[list(columns_to_keep.keys())].rename(columns=columns_to_keep)

df_filtered.to_csv("FarmingHouseholds_filtered_renamed.csv", index=False)

In [14]:
df_filtered.head()

,household_id,state,lga,hh_head_sex,hh_head_age,school_attendance,education_level,activity_crop,activity_livestock,activity_poultry,...,grow_maize,grow_rice,grow_beans,num_cattle,num_goat,num_chicken,fish_farming,has_agri_establishment,has_nonagri_establishment,weight
926732,966601,1.0,16.0,1.0,5.0,2.0,NaN,2.0,2.0,2.0,...,1.0,2.0,2.0,1.0,3.0,2.0,NaN,1.0,2.0,11.768229
907051,189961,1.0,18.0,1.0,3.0,1.0,5.0,2.0,2.0,2.0,...,1.0,1.0,2.0,NaN,3.0,2.0,NaN,2.0,1.0,26.401646
926516,130859,1.0,16.0,1.0,3.0,1.0,6.0,2.0,2.0,2.0,...,2.0,1.0,2.0,NaN,NaN,2.0,NaN,2.0,1.0,20.322652
912760,655320,1.0,1.0,1.0,5.0,2.0,NaN,2.0,2.0,1.0,...,1.0,1.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,36.066483
910795,440860,1.0,9.0,1.0,4.0,2.0,NaN,2.0,1.0,1.0,...,2.0,2.0,2.0,NaN,NaN,NaN,NaN,2.0,2.0,14.134452

In [15]:
# Select and rename useful columns
selected_columns = {
    "household_id": "Household ID",
    "state": "State",
    "lga": "LGA",
    "hh_head_sex": "Gender",
    "hh_head_age": "Age",
    "school_attendance": "School Attendance",
    "education_level": "Education Level",
    "activity_crop": "Crop Farming",
    "activity_livestock": "Livestock Farming",
    "activity_poultry": "Poultry Farming",
    "activity_fisheries": "Fisheries",
    "num_plots": "Number of Plots",
    "grow_maize": "Grows Maize",
    "grow_rice": "Grows Rice",
    "grow_beans": "Grows Beans",
    "num_cattle": "Number of Cattle",
    "num_goat": "Number of Goats",
    "num_chicken": "Number of Chickens",
    "fish_farming": "Fish Farming",
    "has_agri_establishment": "Agri Establishment",
    "has_nonagri_establishment": "Non-Agri Establishment",
    "weight": "Survey Weight"
}

df = df_filtered[list(selected_columns.keys())].rename(columns=selected_columns)
df.head()

,Household ID,State,LGA,Gender,Age,School Attendance,Education Level,Crop Farming,Livestock Farming,Poultry Farming,...,Grows Maize,Grows Rice,Grows Beans,Number of Cattle,Number of Goats,Number of Chickens,Fish Farming,Agri Establishment,Non-Agri Establishment,Survey Weight
926732,966601,1.0,16.0,1.0,5.0,2.0,NaN,2.0,2.0,2.0,...,1.0,2.0,2.0,1.0,3.0,2.0,NaN,1.0,2.0,11.768229
907051,189961,1.0,18.0,1.0,3.0,1.0,5.0,2.0,2.0,2.0,...,1.0,1.0,2.0,NaN,3.0,2.0,NaN,2.0,1.0,26.401646
926516,130859,1.0,16.0,1.0,3.0,1.0,6.0,2.0,2.0,2.0,...,2.0,1.0,2.0,NaN,NaN,2.0,NaN,2.0,1.0,20.322652
912760,655320,1.0,1.0,1.0,5.0,2.0,NaN,2.0,2.0,1.0,...,1.0,1.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,36.066483
910795,440860,1.0,9.0,1.0,4.0,2.0,NaN,2.0,1.0,1.0,...,2.0,2.0,2.0,NaN,NaN,NaN,NaN,2.0,2.0,14.134452

In [17]:
df.to_csv('data.csv')